<form method="post" action="/users/login">
	<label>Username: <input type="text" name="username"></label>
	<label>Password: <input type="text" name="password"></label>
	<input type="submit" value="Log in">
</form>