<form method="post" action="/users/new">
	<label>First name: <input type="text" name="user[first_name]"></label>
	<label>Last name: <input type="text" name="user[last_name]"></label>
	<label>Username: <input type="text" name="user[username]"></label>
	<label>Password: <input type="text" name="user[password]"></label>
	<input type="submit" value="Create New User">
</form>